#!/bin/bash

# irixboot
# ftpdist.sh - populate local disk with IRIX install images

IRIXVERS="{{ irixversion }}"

# FTP urls
## IRIX foundation
foundation="{{ foundation }}"
## 6.5.30 overlays
overlay="{{ overlay }}"
## Dev
devel="{{ devel }}"
## Extras
extras="{{ extras }}"
## Nekodeps
nekodeps="{{ nekodeps }}"
## Bootstrap
bootstrap="{{ bootstrap }}"

### Partition/Format our data disk (will hold IRIX distribution)
function formatdisk {
	echo "Formatting /dev/sdb..."
	
	if [ ! -e /dev/sdb1 ]
	then
		parted /dev/sdb mklabel msdos
		parted /dev/sdb mkpart primary 512 100%
		partprobe /dev/sdb
		sleep 5
	fi
	
	mkfs.xfs -f /dev/sdb1
	mkdir -p /irix 
	sed -i '/\/irix/d' /etc/fstab
	echo `blkid /dev/sdb1 | awk '{print$2}' | sed -e 's/"//g'` /irix xfs noatime,nobarrier 0 0 >> /etc/fstab
	mount /irix
}


# initialization
initialization(){
	echo "Initializing irixboot..."

	echo "Installing packages..."
	apt-get update && apt-get -qq -y install tftpd-hpa isc-dhcp-server rsh-server dnsmasq mksh parted xfsprogs rsync tcpdump

	echo "Adjusting kernel IPv4 settings..."
	echo "net.ipv4.ip_no_pmtu_disc=1" >> /etc/sysctl.conf
	echo "net.ipv4.ip_local_port_range = 2048 32767" >> /etc/sysctl.conf
	sysctl -p

	echo "Enabling efs/xfs kernel modules..."
	echo "efs" >> /etc/modules
	echo "xfs" >> /etc/modules
	modprobe -a efs xfs

	echo "Creating 'guest' user..."
	if ! id -u guest >/dev/null 2>&1; then 
		useradd -s /bin/ksh -d /irix guest 
	fi
}

fetchfile(){
	_url="$1"
	wget "${_url}"
}


copydist(){
	mkdir -p /vagrant/irix

	for _url in $foundation ; do 
		cd /vagrant/irix
		echo "Processing foundation archives"

		_an=$(basename "${_url}")
		# only fetch if absent
		if [[ ! -e "${_an}" ]] ; then
			wget --quiet -nc "${_url}"
			tar xvzf "${_an}"
		fi
	done	

	for _url in $overlay ; do 
		cd /vagrant/irix
		echo "Processing overlay archives"


		_an=$(basename "${_url}")
		# only fetch if absent
		if [[ ! -e "${_an}" ]] ; then
			wget --quiet -nc "${_url}"
			tar xvzf "${_an}"
		fi
	done
	

	for _url in $devel ; do 
		cd /vagrant/irix
		echo "Processing devel archives"

		_an=$(basename "${_url}")
		if [[ ! -e "${_an}" ]] ; then
			wget --quiet -nc "${_url}"
			if [[ "$_an"  == "mipspro-7.4.3m.tar" ]] ; then
				tar xvf "${_an}"
			else
				tar xvzf "${_an}"
			fi
		fi
	done

	for _url in $extras ; do 
		cd /vagrant/irix
		echo "Processing extras archives"

		_an=$(basename "${_url}")
		if [[ ! -e "${_an}" ]] ; then
			wget --quiet -nc "${_url}"
			tar xvzf "${_an}"
		fi
	done

	cd /vagrant/irix
	echo "Processing nekodeps"
	if [[ ! -d nekodeps ]] ; then
		mkdir nekodeps
		tar xvf "${nekodeps}" -C nekodeps
	fi

	echo "Handling bootstrap bundles"
	mkdir -p /vagrant/irix/bundles
	pushd /vagrant/irix/bundles
	for _url in $bootstrap ; do 
		_an=$(basename "${_url}")
		if [[ ! -e "${_an}" ]] ; then
			wget --quiet -nc "${_url}"
			tar xvzf "${_an}"
		fi
	done
	popd
}

sync_pkgs(){
	mkdir -p /irix
	rsync -av /vagrant/irix/* /irix
	echo "$IRIXVERS" > /irix/.irixboot
	chown -R guest.guest /irix
}

main(){
	### Check if disk is already mounted from previous provisioning
	### and check whether it is the correct version
	echo "Checking IRIX distribution..."

	initialization
	formatdisk
	copydist
	sync_pkgs


	if [[ -f /irix/.irixboot ]]; then
		OLDVERS=$(cat /irix/.irixboot)
		if [[ "$OLDVERS" == "$IRIXVERS" ]]; then
			echo "Found an existing disk with $IRIXVERS"
			exit 0
		else
			echo "Existing disk contains IRIX $OLDVERS, replacing with $IRIXVERS..."
		fi
	else
		echo "No IRIX files found on local disk, copying from disk images..."
	fi
}

main